*{
    color: rgb(87, 203, 55);
    font-size: 20px ;

}

body{
    background-color: black;
    font-size: 15px;
}
p{
    color: white;
    background-color: rgb(135, 39, 87);
    font-size: 20px;
}
div{
    color: rgb(235, 235, 71);
    background-color: rgb(6, 52, 98);
    font-size: 10px;
}   
ol{
    color: rgb(204, 18, 18);
    background-color: rgb(12, 64, 59);
    font-size: 30px;
}
span{
    color: rgb(132, 132, 150);
    background-color: rgb(16, 29, 82);
    font-size: 20px;
}
.red{
    color: rgb(225, 212, 212);
    font-size: 20px;
}
.container{
    background-color: rgb(47, 33, 33);
    font-size: 18px;
}
.Vishal{
    color: rgb(18, 18, 18);
    font-size: 25px;
}
#unique{
    color: rgb(224, 220, 7);
    font-size: 30px;
}
.parent p{
    color: rgb(23, 16, 23);
    font-size: 25px;
}
.parent .child{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
li{
    color: rgb(167, 236, 6);
    font-size: 18px;
}
.parent div p{
    color: rgb(9, 9, 9);
    font-size: 40px;
}